

.row div{
	background-color: blue;
	border: 10px solid black;
	width: 300px;
	height: 200px;
	border-size: border-box;
	
	
}
.row nav{
background-color: yellow;
	border: 5px solid black;
	width: 100px;
	height: 70px;
	border-size: border-box;
	float : left;
	

}

	h1 {
		text-align: center;
	}