
.row nav{
	border-left:3px solid black;
	border-bottom: 3px solid black;
	height: 40px;
	width: 100px;
	border-size: border-box;
	text-align: center;
	margin-left: 230px;
	float: left;
	}

	h1 {text-align: center;	}

	#no1 {background-color: yellow;}
	#no2 {background-color: pink;}
	#no3 {background-color: violet;}

.row div{
	background-color: silver;
	border: 3px solid black;
	border-size: border-box;
	height: 200px;
	margin-top: 30px;
	margin-left: 15px;
	float: left;
	
	   }