
.row span{
	border-left:3px solid black;
	border-bottom: 3px solid black;
	height: 40px;
	width: 100px;
	border-size: border-box;
	text-align: center;
	float: left;
	}

	h1 {text-align: center;	}

	#no1 {background-color: yellow;}
	#no2 {background-color: pink;}
	#no3 {background-color: violet;}

.row nav{
	background-color: silver;
	border: 3px solid black;
	height: 200px;
	margin-top: 30px;
	float: left;
	border-size: border-box;
	margin-left: 10px;

	   }

	   p
	   {position: absolute;
	   	margin-top: 75px;
	   	margin-left: auto;
	   	margin-right: auto;
	   	}